@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

.canvas {
  font-family: "SUITE-Regular";

  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.headerCanvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbarContainer {
  padding-top: 15px;
  width: 60%;
}
.navbar {
  color: black;
  font-size: 18px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
}

.tableContainer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gainsboro;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
}
td,
th {
  border: 1px solid gainsboro;
  text-align: center;
}
tr {
  height: 30px;
}

.createContainer {
  width: 600px;
  position: relative;
}

.createGrid {
  padding-top: 15px;
  padding-left: 5px;

  position: relative;
  width: 100%;
  height: 15em;
  border: 2px solid gainsboro;
  border-radius: 10px;
  /* display: grid;
  grid-template-areas: "a a b b";
  column-gap: 5px; */
}

.createGrid .createDetail {
  margin: 10px;
  padding: 10px;
  padding-bottom: 5px;

  border: none;
  border-bottom: 1px solid gainsboro;
  transition: 0.5s ease-out;
}
.createGrid textarea {
  width: 90%;
  height: 10em;
  resize: none;
  margin: 10px;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  border: 1px solid gainsboro;
  transition: 0.5s ease-out;
}
.createGrid input:focus {
  outline: none;
  border-bottom: 1px solid #fad985;
}
.createGrid textarea:focus {
  outline: none;
  border: 1px solid #fad985;
}
.createBtn {
  position: relative;
  bottom: 205px;
  left: 80%;
}

/* .createGrid input:nth-child(1) {
  grid-area: a;
} 
.createGrid input:nth-child(2) {
  grid-area: b;
}
.createGrid input:nth-child(3) {
  grid-area: c;
} */
